<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Java Test App</title>

    <meta charset="utf-8"/>
    <meta url="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.2.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/js/notifications.js}"></script>
    <script th:src="@{/js/file.js}"></script>

</head>
<body onload="connect()">

<div class="container">

    <div class="row justify-content-center align-items-center">
        <div class="col-sm-5">

            <h1 class="text-center mt-5 mb-5">Java Test App</h1>

            <form method="POST" enctype="multipart/form-data" th:action="@{/file}" th:object="${fileUploadFormDTO}">

                <!--<div class="form-group">-->

                <div class="form-group" th:each="pattern : ${patterns}">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{patternsToProcess}"
                               th:value="${pattern.value}" th:id="${pattern.value} + '-CHECK'"
                               th:disabled="${pattern.disabled}">
                        <label class="form-check-label" th:for="${pattern.value} + '-CHECK'">
                            References to <span th:text="${pattern.label}"/>
                        </label>
                    </div>
                </div>

                <div class="alert alert-danger" th:if="${#fields.hasErrors('patternsToProcess')}"
                     th:errors="*{patternsToProcess}"></div>

                <div class="form-group">
                    <div class="input-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="file" th:field="*{file}" accept=".txt"
                                   required>
                            <label class="custom-file-label" for="file">Choose file</label>
                        </div>

                        <span class="error" th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block">Upload and process</button>

            </form>

            <div th:if="${fileUploadMessageSuccess}" class="alert alert-success mt-3" role="alert">
                <span th:text="${fileUploadMessageSuccess}"/>
            </div>

            <div th:if="${fileUploadMessageError}" class="alert alert-danger mt-3" role="alert">
                <span th:text="${fileUploadMessageError}"/>
            </div>

            <div id="files-generated" class="mt-3">
                <span>Files generated:</span>
                <br/>
            </div>

        </div>
    </div>
</div>

</body>
</html>
